<div class="dropdown">
  <slot />
  <!-- Can we automaticlaly apply the `.dropdown-content` style here? -->
  <slot name="dropdown-content" />
</div>

<!-- Add in all the JS that's needed for enhanced functionality here that can't be handled by styles -->
